<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Lista de animes:</h1>
    <a href="/"><button>Agregar animes</button></a>
    <% if (mostrar.length !== 0) { %>
        <table>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Personaje principal</th>
                <th>Url de imagen</th>
            </tr>
            <% mostrar.forEach(function(anime){ %>
                <tr>
                    <td><%=anime.id%></td>
                    <td><%=anime.title%></td>
                    <td><%=anime.mainCharacter%></td>
                    <td><img src=<%=anime.imgUrl%> alt=<%=anime.title%>></td>
                </tr>
            <% }) %>
        </table>
    <% }else{ %>
        <h4>No se encontro productos</h4>
    <% } %>
</body>
</html>